# This is a template file that you can use to emulate the required env file
# Below are some fields that are important for you to have locally in your own 'local.env' file to get things started...

# This is the property that is used by the jasypt encryption.
# You should replace 'sample' with the key that you used in the encryption process mentioned in the README.md

encrypt_key=sample
